// -----------------------------------------------------------------------------
// Page
// -----------------------------------------------------------------------------

.page-intro {
	position: relative;
	background: #fc7331;

	&:before {
		background: radial-gradient(circle at 110% -60%,hsla(0,0%,100%,.86) 0,hsla(0,0%,100%,0) 40.98%,hsla(0,0%,100%,0) 100%);
	    content: "";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	}

	.intro-inner {
		height: 200px;
		background-attachment: fixed;
		background-position: center top;
		background-repeat: no-repeat;
		position: relative;
		z-index: 101;

		.outer-inner {
			display: table;
			height: 100%;
			position: relative;
			width: 100%;

			.inner-box {
				background-color: transparent;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				vertical-align: middle;

				.inner-box-container {
					margin: 0 auto;
					display: table-cell;
					padding: 0 !important;
					vertical-align: middle;

					.intro-title {
						display: block;
						padding: 0 15px;
						position: relative;
						z-index: 25;
						margin-top: 20px;

						h1 {
							color: #fff;
							display: inline-block;
							vertical-align: middle;
							font-size: 45px;
							line-height: 1.425em;
							margin-bottom: 0;
							font-weight: 800;
							text-transform: capitalize;

							&:after {
					            left: 0;
					            right: auto;
					            width: 75px;
					            height: 4px;
					            background-color: $color-white;
					        }
						}

						p {
							margin-bottom: 0;
							color: #fff;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
@media(min-width: 1025px) {
	.page-intro {
		.intro-inner {
			.outer-inner {
				.inner-box {
					.inner-box-container {
						width: 1170px;
					}
				}
			}
		}
	}
}
@media(max-width: 1024px) {
	.page-intro {
		.intro-inner {
			height: 250px;

			.outer-inner {
				.inner-box {
					.inner-box-container {
						width: 100%;
					}
				}
			}
		}
	}
}


// -----------------------------------------------------------------------------
// Page
// -----------------------------------------------------------------------------
.boxset {
  background: $color-white;
	border: 1px solid $color-white;
	position: relative;
	border-radius: 7px;
	overflow: hidden;
	transition: all .2s ease-in-out;

  .infobox {
    background: $color-white;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	transition: all 0.6s;
	opacity: 0;

	.info-text {
		display: table;
		height: 100%;
		width: 100%;
		table-layout: fixed;

		.text-note {
			display: table-cell;
			vertical-align: middle;
			h3 {
				font-weight: normal;
				a {
					color: $base-color;
				}
			}
			p {
				font-style: italic;
				margin-bottom: 0;
			}
		}
	}
  }

	.describox {
		background: $color-light-grey;
		padding: 10px;
		p {
			margin-bottom: 5px;
			font-size: 18px;
			font-weight: 600;
		}
		span {
			display: block;
		}
	}

	&:hover {
		box-shadow: -1px 9px 18px 0 rgba(75,81,91,.1);
    	transform: translateY(-.5em);
		.infobox {
			opacity: 1;
			transition: all 0.6s;
		}
	}
}

.box-list {
	margin: 0 0 40px;
	padding: 0 0 40px;
	border-bottom: 1px solid $color-light-grey;

	h4 {
		font-size: 32px;
	}

	h4,
	img {
		margin: 0 0 20px;
	}

	.meta {
		padding: 10px 0;

		span {
			margin: 0 20px 0 0;
			font-size: 12px;
		}

		i {
			margin: 0 10px 0 0;
			color: $base-color;
		}

		a {
			color: $color-purple;
		}
	}
}

.boxflex {
	display: -webkit-flex;
	display: flex;

	.dfinner {
		justify-content: center;
		align-items: center;

		a {
			color: $color-gold;

			&:hover {
				color: #000;
			}
		}

		&:first-child {
			width: 40%;

			img {
				display: block;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		&:last-child {
			width: 60%;
			padding: 20px;
		}
	}
}
@media(min-width: 768px) {
	.boxflex {
		.dfinner {
			height: 400px;
		}
	}
}
@media(max-width: 991px) {
	.boxflex {
		flex-direction: column;

		.dfinner {
			width: 100%!important;
		}
	}
}

// -----------------------------------------------------------------------------
// page about
// -----------------------------------------------------------------------------
body {
  &.page-template-template-attraction-detail {

    // navbar
    .navbar {
      &.changeups {
        &.navbar-light {
          position: fixed;
        }
      }
    }

    // page title
    .section-introduce {
      position: relative;

      .row {
        margin-left: 0px;
        margin-right: 0px;
      }

      .uniheading {
        position: absolute;
        z-index: 2;
        transform: translate(-50%, -50%);
        width: 100%;
        top: 50%;
        left: 50%;

        h1 {
          color: #fff;
          font-size: 46px;
          letter-spacing: 1px;
          text-transform: capitalize;

          &:after {
            background: #fff;
          }
        }
      }
    }

    // slider
    #slider-main {
      &.owl-carousel {
        .image-slide {
          &:after {
            position: absolute;
            background: rgba(0,0,0,.25);
            width: 100%;
            height: 100%;
            content: "";
          }
        }
      }
    }
  }
}

body {
  &.post-template-single-blog,
  &.page-template-template-blog,
  &.page-template-template-about {

    // navbar
    .navbar {
      &.navbar-light {
        position: relative;
      }
      &.changeups {
        &.navbar-light {
          position: fixed;
        }
      }
    }
  }
}

body {
	&.page-template-template-about {
		#content {
			.content-wrap {
				margin-top: 0;
			}
		}
	}
}

// -----------------------------------------------------------------------------
// Widget
// -----------------------------------------------------------------------------

.widget {
	padding: 28px 0;
	border-bottom: 2px solid #ededed;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		border-bottom: 0;
	}

	.widget-title {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 24px;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 14px;

		li {
			margin-bottom: 5px;
			border-bottom: 1px solid $color-light-grey;
			padding-bottom: 5px;

			&:last-child {
				border-bottom: 0;
			}

			a {
				color: $color-purple;
			}
		}
	}

	&.wid-tags {
		a {
			display: inline-block;
			height: 30px;
			color: #999;
			line-height: 30px;
			text-decoration: none;
			border: 1px solid #ededed;
			border-radius: 15px;
			padding: 0 12px;
			margin: 0 2px 8px 0;
			-webkit-transition: all 0.3s;
			-o-transition: all 0.3s;
			transition: all 0.3s;

			&.active,
			&:hover {
				background: $base-color;
				color: $color-white;
				border: 1px solid $base-color;
			}
		}
	}

	&.blog-heading {
		h3 {
			background: $color-teal;
			padding: 0 20px;
			color: $color-purple;
			line-height: 50px;
		}
	}

	&.blog-recent-post {
		ul {
			li {
				font-size: 15px;
				padding: 0 0 20px 100px;
				line-height: 1.5em;
				min-height: 100px;
				margin: 0 0 10px;
				position: relative;

				img {
					width: 80px;
					height: 90px;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					object-fit: cover;
				}

				a {
					display: block;
				}

				.comments {
					display: block;
					opacity: 0.5;
					font-size: 0.8em;

					i {
						margin-right: 12px;
						opacity: 0.5;
					}
				}
			}
		}
	}
}
