$color-light-grey: #f8f8f8;
$base-color: #563d7c;
$color-white: #ffffff;

$color-teal: #efebe5;
$color-purple: #526383;

$color-gold: #917036;
$color-gold-light: #e5cf87;
$color-charcoal: #212121;

$color-orange: #ff6a4c;
