// -----------------------------------------------------------------------------
// Header - Navbar
// -----------------------------------------------------------------------------

.navbar {
  &.navbar-light {
    position: absolute;
    width: 100%;
    z-index: 9999;
    background: transparent!important;
  }

  &.changeups {
    &.navbar-light {
      position: fixed;
      background: #fff!important;

      .navbar-nav {
        .nav-link {
          padding-top: 25px;
          padding-bottom: 25px;
          font-size: 13px;
          color: #000;

          &:hover {
            color: $color-gold-light;
          }
        }
      }
    }
  }
}

body {
  &.work {
    .navbar {
      &.navbar-light {
        background: $color-white!important;

        .navbar-toggler {
          i {
            color: $color-gold-light;
          }
        }
      }
    }
  }
}
// toggler
body {
  &:not(.home) {
    .navbar-expand-md {
      .navbar-toggler {
        i {
          color: $color-gold-light;
        }
      }
    }
  }
}
.navbar-expand-md {
  .navbar-toggler {
    margin: 10px;

    &:focus {
      outline: 0;
    }

    i {
      font-size: 24px;
    }
  }

  .navbar-toggler {
    i {
      color: $color-white;
    }
  }

  &.changeups {
    .navbar-toggler {
      i {
        color: $color-gold-light;
      }
    }
  }
}

@media(min-width: 768px) {
  // menu icon
  &.navbar-light {
    &.navbar-expand-md {
      .navbar-nav {
        .nav-item {
          .nav-link {
            &:before {
              font-family: 'themify';
              padding-right: 10px;
            }
          }
          &.mhome {
            .nav-link {
              &:before {
                content: "\e69b";
              }
            }
          }
          &.mabout {
            .nav-link {
              &:before {
                content: "\e6b7";
              }
            }
          }
          &.mdestination {
            .nav-link {
              &:before {
                content: "\e693";
              }
            }
          }
          &.marticle {
            .nav-link {
              &:before {
                content: "\e6a3";
              }
            }
          }
        }
      }
    }
  }
  .navbar-expand-md {
    .navbar-nav {
      width: 65%;
      justify-content: space-around;

      .nav-link {
        padding: 35px 15px;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        color: #fff;
      }
    }
  }

  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    color: $color-gold-light;
  }

  .navbar-light {
    &.changeups {
      .navbar-nav .active > .nav-link {
        color: $color-gold-light;
      }
    }
  }
  // page
  body {
    &.page-template-template-about,
    &.page-template-template-blog,
    &.post-template-single-blog {
      .navbar-expand-md {
        .navbar-nav {
          .nav-link {
            color: $color-charcoal;

            &:focus,
            &:hover {
              color: $color-gold-light;
            }
          }
        }
      }
    }
  }
}
@media(min-width: 768px) and (max-width: 992px) {
  .navbar-expand-md {
    .navbar-nav {
      width: 75%;
    }
  }
}
@media(max-width: 767px) {
  .navbar {
    &.navbar-expand-md {
      &.navbar-light {
        .navbar-nav {
          .nav-item {
            &:first-child {
              margin-top: 10px;
            }

            &:last-child {
              margin-bottom: 15px;
            }
          }

          .nav-link {
            padding: 5px 0 0 5px;
          }
        }
      }
    }
  }

  .owl-carousel .owl-nav {
    top: 90%;
  }
  // text in mainslider
  .text-outer .inner-text h2 {
    font-size: 60px;
    line-height: 60px;
  }
}
