/*Table of content

  - Components
  - Heading
  - Box
  - Why Us


*/
body {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    line-height: 23px;
    background: $color-white;
    color: #000;
    letter-spacing: normal;
    font-weight: 400;

    .page {
        background: #F7F7F7;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-family: 'DM Serif Display', serif;
    font-family: 'Nunito Sans', serif;
}

a {
    color: $color-orange;
}

.wrapper {
    background-image: url('../img/wave-bg.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}

.excerpt-main {
    line-height: 16px;
    font-style: italic;
    font-size: 12px;
}

.table-list {
    position: relative;
    border-bottom: 1px solid #eee;

    .time.calendar {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.questionpage {
    &.unibox {
        background: transparent;
    }
    .uniblog {
        overflow: visible;
    }
    .uniblog-info {
        box-shadow: 2px 2px 1px 0 rgba(0,0,0,.09);
        display: block;
        overflow: hidden;
        border-radius: 7px;
        background: #fff;

        .meta-info {

            .meta-bio {
                line-height: 40px;
                margin-bottom: 20px;
            }
        }

        &.more {
            .meta-bio {
                position: relative;

                .time.calendar {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

.uniheading {
    h2 {
        font-weight: 800;
        font-size: 30px;
        text-transform: capitalize;
        letter-spacing: normal;

        &:after {
            height: 4px;
            background-color: $color-orange;
        }
    }

    h4 {
        font-weight: 800;
        font-size: 16px;
        text-transform: capitalize;
        letter-spacing: normal;

        &:after {
            left: 0;
            right: auto;
            width: 35px;
            height: 4px;
            background-color: $color-orange;
        }
    }
}
// Destination

.unibox__frame {
    position: relative;
    overflow: hidden;
    min-height: inherit;

    .uniboxinner {
        .uninfo {
            h3 {
                color: $color-white;
                font-size: 26px;

                a {
                    color: $color-white;
                }
            }
        }
    }
}

.unibox__uniform {
    &:before {
        background: $color-orange;
    }

    &:hover {
        &:before {
            background: $color-orange;
        }
    }
}

.content-info {
    .icon {
        display: block;
        font-size: 50px;
    }

    h3 {
        font-size: 18px;
    }
}

.part-about {
    .about-post {
        padding-right: 15px;
    }

    .image-intro {
        list-style: none;
        padding-left: 0;
        margin: 0 -15px;

        li {
            width: 50%;
            float: left;
            padding: 0 15px;

            span {
                position: relative;
                height: 0;
                padding-bottom: 100%;
                overflow: hidden;
                display: block;

                img {
                    //@include imgbase;
                }
            }
        }
    }
}
// articles

.uniblog-info {
    text-align: left;

    h3 {
        font-size: 16px;
        font-weight: 800;
    }

    .time {
        font-size: 12px;
        color: $color-charcoal;

        i {
            padding-right: 5px;
        }


        &:hover {
            color: $color-charcoal;
        }
    }

    .meta-info {
        position: relative;

        img {
            padding: 2px;
            border-radius: 100%;
            background-color: #efe6eb;
            left: 0px;
            position: absolute;
            z-index: 5;
            width: 40px !important;
            height: 40px;
        }

        .meta-bio {
            padding-left: 50px;
            line-height: 18px;

            span {
                display: block;

                i {
                    padding-right: 5px;
                }
            }
        }
    }
}

// -----------------------------------------------------------------------------
// Homepage
// -----------------------------------------------------------------------------
.part-subject, .page {
    .col-custom {
        &.boxgrad {
            &.one {
                .unibox {
                    background: #30d5fe;
                    position: relative;
                    min-height: 156px;

                    &:before {
                        background: radial-gradient(circle at 110% -60%,hsla(0,0%,100%,.86) 0,hsla(0,0%,100%,0) 92.98%,hsla(0,0%,100%,0) 100%);
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }

            &.two {
                .unibox {
                    background: #18ead2;
                    position: relative;
                    min-height: 156px;

                    &:before {
                        background: radial-gradient(circle at 110% -60%,hsla(0,0%,100%,.86) 0,hsla(0,0%,100%,0) 92.98%,hsla(0,0%,100%,0) 100%);
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }

            &.three {
                .unibox {
                    background: #feca74;
                    position: relative;
                    min-height: 156px;

                    &:before {
                        background: radial-gradient(circle at 110% -60%,hsla(0,0%,100%,.86) 0,hsla(0,0%,100%,0) 92.98%,hsla(0,0%,100%,0) 100%);
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }

            &.four {
                .unibox {
                    background: #FC7331;
                    position: relative;
                    min-height: 156px;

                    &:before {
                        background: radial-gradient(circle at 110% -60%,hsla(0,0%,100%,.86) 0,hsla(0,0%,100%,0) 92.98%,hsla(0,0%,100%,0) 100%);
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }

            &.five {
                .unibox {
                    background: #5FB26A;
                    position: relative;
                    min-height: 156px;

                    &:before {
                        background: radial-gradient(circle at 110% -60%,hsla(0,0%,100%,.86) 0,hsla(0,0%,100%,0) 92.98%,hsla(0,0%,100%,0) 100%);
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }
        }

        a {
            color: #000;
        }

        &:hover {
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    .uniblog-info {
        padding: 18px;
    }
}
.part-testimonial {
    background: #40D2D2;

    .testimo {
        .testimo-content {
            background: #fff;
        }

        .testimo-arrow {
            background: #fff;
        }
    }
}
.part-static {
    ul {
        list-style: none;
        padding-left: 0px;

        li {
            p {
                margin-bottom: 0;

                .stnumber {
                    font-weight: 700;
                    color: $color-orange;

                }
            }

            img {
                margin-bottom: 10px;
            }
        }
    }
}

// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------
.unibtn {
    padding: .7rem 2rem;
    font-weight: 800;
    text-transform: capitalize;
}
.unibtn__background {
    background-color: transparent;
    color: $color-orange;
    border: 1px solid $color-orange;

    &:hover {
        background-color: $color-orange;
        border: 1px solid $color-orange;
    }
}


// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------

.owl-carousel {
    position: relative;
    height: 100%;

    div.owl--text {
        position: absolute;
        bottom: 4em;
        left: 2em;
        width: 20em;
        height: 8em;
        padding: 1em;
        background: rgba(255, 255, 255, .5);
        border-radius: 4px;
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;

        .owl-prev {
            float: left;
        }

        .owl-next {
            float: right;
        }

        i {
            color: #fff;
            font-size: 40px;
        }
    }

}

#slider-main {
    &.owl-carousel {
        .image-slide {
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 100vh;
            overflow: hidden;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;

            &:after {
                position: absolute;
                background: rgba(0,0,0,.25);
                width: 100%;
                height: 100%;
                content: "";
            }
        }
    }
}

.part-mainslider {
    position: relative;

    .slider-home {
        position: relative;

        .owl-carousel {
            .owl-slide {
                // padding-bottom: calc(100vh - 70px);
                &:before {
                    position: absolute;
                    background: rgba(0,0,0,.3);
                    display: block;
                    content: "";
                    width: 100%;
                    height: 100%;
                    top: 0;
                }
            }
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100px;
        background: transparent;
        background-size: 100% 100%;
        background-image: url("img/halfround.png");
    }
}

.text-outer {
    position: absolute;
    top: 35%;
    color: #fff;

    .inner-text {
        h2 {
            font-size: 72px;
            line-height: 78px;
            letter-spacing: 0;
            margin-bottom: 18px;
            font-weight: 600;
        }
    }
}

.inner-button {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;

    a {
        font-size: 14px;
        line-height: 56px;
        letter-spacing: 1px;
        padding: 10px 20px;
        margin: 40px 8px 0;
        color: #fff;
        border: 1px solid #fff;
    }
}

// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

footer {
    background: #1d2330;

    .copyright {
        background-color: $color-orange;

        a {
            color: $color-white;

            &:hover {
                color: $color-orange;
            }
        }

        .textwidget {
            font-size: 11px;
        }
    }
}

@media(min-width: 768px) {
    .part-subject,
    .page {
        .col-custom {
            max-width: 20%;

            &.w30 {
                max-width: 33.333333%;
                flex: 0 0 33.33%;
            }
        }
    }
}

@media(max-width: 767px) {
    .part-mainslider {
        &:after {
            display: none;
        }
    }

    footer {
        .copyright {
            .textwidget {
                text-align: center!important;
            }
        }

        .fbreak {
            display: block;
        }
    }
}
