<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="uniheading text-center marginbot-30">
        <h2>Artikel</h2>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="unibox uniblog uniblog__duo transform marginbot-30">
        <div class="unibloginner">
          <div class="unimages">
            <img src="asset/img/lycs-lycs-744230-unsplash.jpg" alt="">
          </div>
          <div class="uniblog-info padding-20">
            <span class="time"><i class="ti-time" aria-hidden="true"></i> July 2nd, 2019</span>
            <h3 class="margintb-20"><a href="#">Grow your business massive with good plan</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="unibox uniblog uniblog__duo transform marginbot-30">
        <div class="unibloginner">
          <div class="unimages">
            <img src="asset/img/lycs-lycs-744230-unsplash.jpg" alt="">
          </div>
          <div class="uniblog-info padding-20">
            <span class="time"><i class="ti-time" aria-hidden="true"></i> July 2nd, 2019</span>
            <h3 class="margintb-20"><a href="#">Grow your business massive with good plan</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="unibox uniblog uniblog__duo transform marginbot-30">
        <div class="unibloginner">
          <div class="unimages">
            <img src="asset/img/lycs-lycs-744230-unsplash.jpg" alt="">
          </div>
          <div class="uniblog-info padding-20">
            <span class="time"><i class="ti-time" aria-hidden="true"></i> July 2nd, 2019</span>
            <h3 class="margintb-20"><a href="#">Grow your business massive with good plan</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="text-center margintb-20"><a href="#" class="btn unibtn unibtn__background unibtn__arrow">read more</a></p>
    </div>
  </div>
</div>
