
<div class="col-lg-12">
  <div class="uniheading text-center marginbot-30">
    <h2>Inventaris</h2>
  </div>
</div>
<div class="col-lg-6 col-sm-12 boxgrad one">
  <div class="unibox uniblog uniblog__duo transform marginbot-30">
    <div class="unibloginner">
      <div class="uniblog-info padding-20">
        <h3 class="margintb-20"><a href="#">Daftar Inventaris</a></h3>
        <p class="excerpt-main">10</p>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 col-sm-12 boxgrad two">
  <div class="unibox uniblog uniblog__duo transform marginbot-30">
    <div class="unibloginner">
      <div class="uniblog-info padding-20">
        <h3 class="margintb-20"><a href="#">Data Pengguna</a></h3>
        <p class="excerpt-main">10</p>
      </div>
    </div>
  </div>
</div>
