<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="uniheading text-center marginbot-30">
        <h2>Laporan</h2>
      </div>
    </div>


        <div class="col-lg-3 col-sm-12 col-custom w30 boxgrad one">
          <div class="unibox uniblog uniblog__duo transform marginbot-30">
            <div class="unibloginner">
              <div class="uniblog-info padding-20">
                <h3 class="margintb-20"><a href="page-laporan-kas.html">Laporan Kas</a></h3>
                <p class="excerpt-main">data laporan kas RT 01</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 col-custom w30 boxgrad two">
          <div class="unibox uniblog uniblog__duo transform marginbot-30">
            <div class="unibloginner">
              <div class="uniblog-info padding-20">
                <h3 class="margintb-20"><a href="page-laporan-absen.html">Laporan Absensi Rapat</a></h3>
                <p class="excerpt-main">data absensi peserta rapat rutin</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-sm-12 col-custom w30 boxgrad four">
          <div class="unibox uniblog uniblog__duo transform marginbot-30">
            <div class="unibloginner">
              <div class="uniblog-info padding-20">
                <h3 class="margintb-20"><a href="page-laporan-iuran.html">Laporan Iuran & Denda</a></h3>
                <p class="excerpt-main">pencatatan iuran dan denda</p>
              </div>
            </div>
          </div>
        </div>


  </div>
</div>
