<footer>
  <div class="footer-inner" style="display:none">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-logo marbot-medium">
            <a class="" href="index.html"><img src="asset/img/logo-complements.png" alt="" class="img-responsive"></a>
          </div><!-- end .footer-logo -->

          <div class="footer-box">
            <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>

            <div class="social">
              <a target="_blank" href="http://facebook.com" class="link share-facebook">
                <i class="ti-facebook"></i>
              </a>
              <a target="_blank" href="http://twitter.com" class="link share-twitter">
                <i class="ti-twitter"></i>
              </a>
              <a target="_blank" href="http://google.com" class="link share-google-plus">
                <i class="ti-google"></i>
              </a>
              <a target="_blank" href="http://youtube.com" class="link share-youtube">
                <i class="ti-youtube"></i>
              </a>
              <a target="_blank" href="http://instagram.com" class="link share-instagram">
                <i class="ti-instagram"></i>
              </a>
            </div>
          </div><!-- end .footer-box -->
        </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-box address">
            <div class="heading-section marbot-medium">
              <h4>Location</h4>
            </div><!-- end .heading-section -->

            <div class="item">
              <i class="ti-location-pin"></i>
              <div class="contact-info">
                <div class="text">Hayam Wuruk, Yogyakarta, 55122 Indonesia</div>
              </div>
            </div>
            <div class="item">
              <i class="ti-mobile"></i>
              <div class="contact-info">
                <div class="text">+1 234 567 89 - +1 234 678 90</div>
              </div>
            </div>

          </div><!-- end .footer-box -->
        </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer-box recent">
            <div class="heading-section marbot-medium">
              <h4>Recent Post</h4>
            </div><!-- end .heading-section -->

            <ul>
              <li><a href="#">Postname Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Postname Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Postname Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Postname Lorem ipsum dolor sit amet</a></li>
              <li><a href="#">Postname Lorem ipsum dolor sit amet</a></li>
            </ul>

          </div><!-- end .footer-box -->
        </div><!-- end .col-md-4 col-sm-4 col-xs-12 -->
      </div><!-- end .row -->
    </div><!-- end .container -->
  </div>

  <div class="copyright">
    <div class="textwidget">Copyright © 2019 by <a href="http://kbs.jogjakota.go.id" target="_blank">KBS Online</a> - All Rights Reserved</div>
  </div><!-- end .copyright -->
</footer>
