<div class="widget blog-heading blog-category">
  <h3 class="widget-title">Blog Topics</h3>
  <ul>
    <li class="active"><a href="#">All (40)</a></li>
    <li><a href="#">Categories (10)</a></li>
    <li><a href="#">Accessories (10)</a></li>
    <li><a href="#">Categories (10)</a></li>
    <li><a href="#">Mug (10)</a></li>
  </ul>
</div><!-- end .blog-category -->

<div class="widget blog-heading blog-recent-post">
  <h3 class="widget-title">Recent Post</h3>
  <ul>
    <li>
      <img src="asset/img/tommy-krombacher-2xJqep3F02A-unsplash-350.jpg" alt="">
      <a href="#">Post title</a>
      <span class="comment"><i class="icon-left ti-comment-alt"></i> 10 comments</span>
    </li>
    <li>
      <img src="asset/img/client/5.jpg" alt="">
      <a href="#">Post title</a>
      <span class="comment"><i class="icon-left ti-comment-alt"></i> 10 comments</span>
    </li>
    <li>
      <img src="asset/img/client/6.jpg" alt="">
      <a href="#">Post title</a>
      <span class="comment"><i class="icon-left ti-comment-alt"></i> 10 comments</span>
    </li>
    <li>
      <img src="asset/img/client/4.jpg" alt="">
      <a href="#">Post title</a>
      <span class="comment"><i class="icon-left ti-comment-alt"></i> 10 comments</span>
    </li>
  </ul>
</div><!-- end .blog-recent-post -->
