{% include "partials/header.html" %}
<body>
  <div id="content" class="page">


    <div class="content-wrap paddingtb-60">
      <div class="container">

          <div class="row">

            <div class="col-lg-12 col-sm-12">
                <div class="unibox uniblog uniblog__duo questionpage marginbot-30">
                  <div class="unibloginner">
                    <br/>
                    <div class="uniheading text-left marginbot-30">
                      <h4>Laporan Kas</h4>
                    </div>
                    <div class="uniblog-info more padding-20">
                        <div class="table-list">
                            <h3 class="margintb-20">
                                <a href="#">Laporan kas bulan Januari 2020</a>
                            </h3>
                            <span class="time calendar"><i class="ti-calendar" aria-hidden="true"></i> dibuat pada 22-11-2019 </span>
                        </div>

                        <div class="table-list">
                            <h3 class="margintb-20">
                                <a href="#">Laporan kas bulan Desember 2019</a>
                            </h3>
                            <span class="time calendar"><i class="ti-calendar" aria-hidden="true"></i> dibuat pada 22-11-2019 </span>
                        </div>
                    </div>

                  </div>
                </div>
            </div>

          </div>
        </div>

    </div><!-- end .content-wrap -->
  <div>

  {% include "partials/footer-script.html" %}

</body>
</html>
