{% include "partials/header.html" %}
<body>

  <div class="wrapper">

    <section class="part-subject paddingtb-60">
      {% include "partials/homepage/subject.html" %}
    </section>

    <section class="part-subject paddingtb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        {% include "partials/homepage/inventaris.html" %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        {% include "partials/homepage/inventaris.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
  </div>

  {% include "partials/footer-script.html" %}

</body>
</html>
